body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field > div {
  display: flex;
  gap: 8px;
}

.section {
    border: solid 1px #eeeeee;
    box-shadow: 0px 3px 36px -12px rgba(0,0,0,0.4);
    padding: 24px;
    border-radius: 14px;
}

.section fieldset {
    border: none;
    margin: 0;
    padding: 0;
}